{% if framework == "langchain" %}
from langchain.retrievers.document_compressors import FlashrankRerank
from langchain.retrievers import ContextualCompressionRetriever
from typing import Any


def build_reranker(retriever: Any) -> Any:
    compressor = FlashrankRerank(model="{{ reranker.model }}", top_n={{ reranker.top_n }})
    return ContextualCompressionRetriever(
        base_compressor=compressor,
        base_retriever=retriever,
    )
{% elif framework == "llamaindex" %}
from llama_index.postprocessor.flashrank_reranker import FlashrankRerank
from typing import Any


def build_reranker() -> Any:
    return FlashrankRerank(
        model="{{ reranker.model }}",
        top_n={{ reranker.top_n }},
    )
{% endif %}
