{% if framework == "langchain" %}
import os
from langchain_qdrant import QdrantVectorStore
from qdrant_client import QdrantClient
{% elif framework == "llamaindex" %}
import os
from llama_index.vector_stores.qdrant import QdrantVectorStore
from qdrant_client import QdrantClient
{% endif %}

def build_vectordb(embedder: Any) -> Any:
{% if framework == "langchain" %}
    client = QdrantClient(url=os.environ.get("QDRANT_URL", "{{ vector_db.url }}"), api_key=os.environ.get("QDRANT_API_KEY"))
    return QdrantVectorStore.from_existing_collection(
        embedding=embedder,
        collection_name="{{ vector_db.collection_name }}",
        url=os.environ.get("QDRANT_URL", "{{ vector_db.url }}"),
        api_key=os.environ.get("QDRANT_API_KEY"),
    )
{% elif framework == "llamaindex" %}
    client = QdrantClient(url=os.environ.get("QDRANT_URL", "{{ vector_db.url }}"), api_key=os.environ.get("QDRANT_API_KEY"))
    return QdrantVectorStore(client=client, collection_name="{{ vector_db.collection_name }}")
{% endif %}
